@model CatalogPagingFilteringModel
@using Nop.Web.Models.Catalog;

<div class="product-selectors">
    @*view mode*@
    @if (Model.AllowProductViewModeChanging)
    {
        <div class="product-viewmode">
            <span>@T("Catalog.ViewMode")</span>
            @if (Model.AvailableViewModes.Count > 1)
            {
                var gridMode = Model.AvailableViewModes[0];
                var listMode = Model.AvailableViewModes[1];

                <a class="viewmode-icon grid @if(gridMode.Selected){<text>selected</text>}" href="@gridMode.Value" title="@gridMode.Text">@gridMode.Text</a>
                <a class="viewmode-icon list @if (listMode.Selected){<text>selected</text>}" href="@listMode.Value" title="@listMode.Text">@listMode.Text</a>
            }
        </div>
    }
<div style="border:solid 1px;display:none;" class="price-filter">
    <span>Price:</span>
    <input type="text" value="" placeholder="Min" class="" size="3" id="minimum" />-
    <input type="text" value="" placeholder="Max" size="3" id="maximum" />
    <button type="button" class="btn btn-danger btn-sm" id="PriceSearch" style="height: 35px;"> Ok </button>

</div>

    @if (Model.AllowProductSorting)
    {
        <div class="product-sorting">
            <span>@T("Catalog.OrderBy")</span>
            @Html.DropDownList("products-orderby", Model.AvailableSortOptions, new { onchange = "setLocation(this.value);" })
        </div>
    }
    @*page size*@
    @if (Model.AllowCustomersToSelectPageSize)
    {
        <div class="product-page-size">
            <span>@T("Catalog.PageSize")</span>
            @Html.DropDownList("products-pagesize", Model.PageSizeOptions, new { onchange = "setLocation(this.value);" })
            <span>@T("Catalog.PageSize.PerPage")</span>
        </div>
    }
</div>
<script>
   $(document).ready(function () {
       $("#PriceSearch").click(function () {
           var requestData = {
                categoryId:0,
                Minimum: $("#minimum").val(),
                Maximum: $("#maximum").val(),
            };

            $.ajax({
                url: "/Catalog/Categorylite",
                type: 'POST',
                data: JSON.stringify(requestData),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    console.log('ajax call check home category product');
                    console.log(data.result);




                },
                error: function () {
                    alert("Error!");
                }
            });
        });

    });

</script>